{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messeges list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Fromuser</th>
                <th>Touser</th>
                <th>Chatid</th>
                <th>Messagetext</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for messege in messeges %}
            <tr>
                <td><a href="{{ path('messeges_show', { 'id': messege.id }) }}">{{ messege.id }}</a></td>
                <td>{{ messege.fromUser }}</td>
                <td>{{ messege.toUser }}</td>
                <td>{{ messege.chatId }}</td>
                <td>{{ messege.messageText }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('messeges_show', { 'id': messege.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('messeges_edit', { 'id': messege.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('messeges_new') }}">Create a new messege</a>
        </li>
    </ul>
{% endblock %}
