{% extends 'base.html.twig' %}

{% block body %}
    <h1>Messege</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ messege.id }}</td>
            </tr>
            <tr>
                <th>Fromuser</th>
                <td>{{ messege.fromUser }}</td>
            </tr>
            <tr>
                <th>Touser</th>
                <td>{{ messege.toUser }}</td>
            </tr>
            <tr>
                <th>Chatid</th>
                <td>{{ messege.chatId }}</td>
            </tr>
            <tr>
                <th>Messagetext</th>
                <td>{{ messege.messageText }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('messeges_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('messeges_edit', { 'id': messege.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
