{% extends "@App/base.html.twig" %}

{% block title %}AppBundle:Test:index{% endblock %}

{% block body %}
<h1>Welcome to the Test:index page11111</h1>
{{ phpinfo | raw }}



{% endfor %}
{% endblock %}
